<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>ChronoVault</title>
  </head>
  <body>
    <div class="container form-page">
      <%- include("components/title", { title: "Event Horizon" }) %> <%-
      include("components/video") %>
      <div class="blur-background">
        <form method="POST" action="/new">
          <div class="inputs">
            <input type="text" name="username" value="<%= errors ? user : ""%>"
            placeholder="Name" class="message-user" required /> 
            <% if(errors) { %> 
              <% errors.forEach(error => {if(error.msg === "User name must be less than 15 letters.") { %>
                <span class="error">
                  <img src="error.svg" alt="an error icon" />
                  <%= error.msg %>
                </span>
              <% }}); %> 
            <% } %>
          </div>
          <div class="inputs">
            <textarea
              type="text"
              name="text"
              placeholder="Message"
              spellcheck="false"
              id="message-text"
              rows="7"
              required
            >
<%= errors ? text : "" %></textarea
            >
            <% if(errors) {%> <% errors.forEach(error => {if(error.msg ===
            "Message must be less than 500 characters.") { %>
            <span class="error"
              ><img src="error.svg" alt="an error icon" /><%= error.msg %></span
            >
            <% }}); %> <% } %>
          </div>
          <button type="submit" class="button-49">Cast your message</button>
        </form>
        <%- include("components/back-button") %>
      </div>
      <%- include("components/footer") %>
    </div>
  </body>
</html>
