<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>ChronoVault</title>
  </head>
  <body>
    <div class="container">
      <%- include("components/title", { title: "ChronoVault" }) %>
      <p id="total-posts">
        Total posts: <span class="message-date"><%= messages.length %></span>
      </p>
      <p id="last-post">
        Last post by:
        <span class="message-user"
          ><%= messages[messages.length-1].user %></span
        >
      </p>
      <a href="/new">
        <button class="button-49">Cast new message</button>
      </a>
      <%- include("components/video") %>
      <div class="blur-background">
        <% messages.forEach((message) => {%> <%- include("messages/message",
        {message: message, getFormattedDate: getFormattedDate}) %> <% }); %>
      </div>
    </div>
  </body>
</html>
