<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>ChronoVault</title>
  </head>
  <body>
    <div class="container">
      <%- include("components/title", { title: "ChronoVault" }) %>
      <a href="/new">
        <button class="button-49">Cast new message</button>
      </a>
      <%- include("components/video") %>
      <div class="blur-background">
        <% messages.forEach((message, index) => {%> <%-
        include("messages/message", {message: message, index: index+1,
        getFormattedDate: getFormattedDate}) %> <% }); %>
      </div>
    </div>
    <p id="total-posts">
      Total posts: <span class="message-date"><%= messages.length %></span>
    </p>
    <p id="last-post">
      Last post by:
      <span class="message-user"><%= messages[messages.length-1].user %></span>
    </p>
  </body>
</html>
