<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>ChronoVault</title>
  </head>
  <body>
    <div class="container">
      <%- include("components/title", { title: "ChronoVault" }) %>
      <p id="total-posts">
        Total posts: <span class="message-date"><%= messages.length %></span>
      </p>
      <p id="last-post">
        Last post by:
        <span class="message-user"><%= messages[0].username %></span>
      </p>
      <div class="main-buttons">
        <a href="/all" class="link link--helike view">
          <span>View all Messages</span>
        </a>
        <a href="/new" class="button-49-link">
          <button class="button-49">Cast new message</button>
        </a>
        <div class="link link--helike filter" onclick="confirmFilter()">
          <span>Filter Messages</span>
        </div>
      </div>
      <%- include("components/video") %>
      <div class="blur-background">
        <% messages.forEach((message) => {%> <%- include("messages/message",
        {message: message, getFormattedDate: getFormattedDate}) %> <% }); %>
      </div>
    </div>
    <script>
      function confirmFilter() {
        const filterKey = prompt("Enter filter keyword:", "");
        if (filterKey) {
          window.location.href = `/?filter=${filterKey}`;
        }
      }
    </script>
  </body>
</html>
