<div class="message">
  <div class="message-header">
    <span class="message-user"><%= message.username %></span>
    <span class="message-date"><%= getFormattedDate(message.added) %></span>
  </div>
  <p class="message-body"><%= message.text %></p>
  <div class="message-open">
    <script>
      function confirmFlag(messageId) {
        const answer = window.confirm(
          "Are you sure you want to flag this message as inappropriate?"
        );
        if (answer) {
          window.location.href = `/messages/flag/${messageId}`;
        }
      }
    </script>
    <% if(message.flagged) { %>
    <img src="../flag.svg" alt="a flag icon" id="flag-icon" />
    <% } else { %>
    <div class="btn-slice" onclick="confirmFlag('<%= message.id %>')">
      <div class="top"><span>Flag</span></div>
      <div class="bottom"><span>Flag</span></div>
    </div>
    <% } %>
    <a href="/messages/<%= message.id %>">
      <div class="open-container">
        <div class="center">
          <button class="btn">
            <svg
              width="180px"
              height="60px"
              viewBox="0 0 180 60"
              class="border"
            >
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Open</span>
          </button>
        </div>
      </div>
    </a>
  </div>
</div>
