<div class="message">
  <div class="message-header">
    <span class="message-user"><%= message.user %></span>
    <span class="message-date"><%= getFormattedDate(message.added) %></span>
  </div>
  <p class="message-body"><%= message.text %></p>
  <div class="message-open">
    <a class="btn-slice" href="/messages/<%= message.id %>/flag">
      <div class="top"><span>Flag</span></div>
      <div class="bottom"><span>Flag</span></div>
    </a>
    <a href="/messages/<%= message.id %>">
      <div class="open-container">
        <div class="center">
          <button class="btn">
            <svg
              width="180px"
              height="60px"
              viewBox="0 0 180 60"
              class="border"
            >
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Open</span>
          </button>
        </div>
      </div>
    </a>
  </div>
</div>
