<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />
    <title>ChronoVault</title>
  </head>
  <body>
    <div class="container message-page">
      <%- include("../components/title", { title: "Singularity" }) %>
      <video autoPlay loop muted playsInline>
        <source src="../black-hole.mp4" type="video/mp4" />
      </video>
      <div class="blur-background">
        <div class="message page">
          <div class="message-header">
            <span class="message-user"><%= message.username %></span>
            <span class="message-date">
              <%= getFormattedDate(message.added) %>
            </span>
          </div>
          <p class="message-body"><%= message.text %></p>
          <p class="message-body"><%= new Date(message.added) %></p>
        </div>
        <%- include("../components/back-button") %>
      </div>
      <%- include("../components/footer") %>
    </div>
  </body>
</html>
